h1 {
    color: rgb(0, 26, 52);
}
h2 {
    color:rgb(1, 47, 93);
}

body {
    font-family: cursive;
    margin: 0;
}

.bg{
    background-image: url("pink.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
}

.courses {
    color: rgb(3, 70, 137);
}

.sad{
    width: 200px;
    height: auto;
}

.happy{
    width: 200px;
    height: auto;
}

p{
    color: hsl(211, 84%, 30%);
}

.fav_movie{
    color:rgb(99, 18, 119);
}

.rayan{
    color: rgb(208, 60, 114);
    font-size: 25px;
}